# Llave privada de Namesilo para consultar disponibilidad de dominios
NAMESILO_API_KEY=

# Si está en 'true', se usa el servidor de pruebas de Namesilo (Sandbox). 
# Cambiar a 'false' en producción.
NAMESILO_SANDBOX=
